{% if current_user.is_authenticated %}
    {% if current_user.volunteer %}
        {% if flag_access_as_volunteer %}
    {% extends "navbar_volunteer.html" %}
                    {% else %}
                {% extends "dashboard.html" %}
            {% endif %}
        {% else %}
    {% extends "dashboard.html" %}
                    {% endif %}
{% else %}
    {% extends "layout.html" %}
{% endif %}

{% block footer %}
                      <div class=" col-md-12">
                    <h2>Service <strong class="white">page</strong></h2>
                  </div>

    {% if success %}
    {% with messages = get_flashed_messages() %}
                            <ul class=flashes>
                                {% for message in messages %}

                                        <div class="alert alert-success" role="alert">{{ message }}</div>
                            {% endfor %}
                            </ul>
                        {% endwith %}
{% else %}
            {% with messages = get_flashed_messages() %}
                            <ul class=flashes>
                                {% for message in messages %}

                                        <div class="alert alert-warning" role="alert">{{ message }}</div>
                            {% endfor %}
                            </ul>
                        {% endwith %}
    {% endif %}


    <div class="btn-group-vertical">
<button type="button" class="btn btn-outline-primary" style="margin-bottom:30px;margin-top: 5rem;margin-right: 200px;margin-left: 470px">
      <a href='{{ url_for('shoppingcart') }}'><p class="card-text" style="text-align: center"><h1>Book food</h1></p></a>
</button>

<button type="button" class="btn btn-outline-info" style="margin-bottom:30px;margin-right: 200px;margin-left: 470px">
      <a href='{{ url_for('yourorders') }}'><p class="card-text" style="text-align: center" ><h1>Your orders</h1></p></a>
  </button>

    <button type="button" class="btn btn-outline-success" style="margin-bottom:30px;margin-right: 200px;margin-left: 470px">
      <a href='{{ url_for('yourbonus') }}'><p class="card-text" style="text-align: center"><h1>Your bonus</h1></p></a>
    </button>


</div>


{% endblock %}