{% if current_user.is_authenticated %}
    {% if current_user.volunteer %}
        {% if flag_access_as_volunteer %}
    {% extends "navbar_volunteer.html" %}
                    {% else %}
                {% extends "dashboard.html" %}
            {% endif %}
        {% else %}
    {% extends "dashboard.html" %}
                    {% endif %}
{% else %}
    {% extends "layout.html" %}
{% endif %}

{% block footer %}
  {% with messages = get_flashed_messages() %}
                            <ul class=flashes>
                                {% for message in messages %}
                                        <div class="alert alert-success" role="alert">{{ message }}</div>
                                {% endfor %}
                            </ul>
                        {% endwith %}
{% endblock %}