{% if current_user.is_authenticated %}
    {% if current_user.volunteer %}
        {% if flag_access_as_volunteer %}
    {% extends "navbar_volunteer.html" %}
                    {% else %}
                {% extends "dashboard.html" %}
            {% endif %}
        {% else %}
    {% extends "dashboard.html" %}
                    {% endif %}
{% else %}
    {% extends "layout.html" %}
{% endif %}

{% block footer %}
<h3 style="margin-bottom: 3rem;margin-left: 2rem">Select the closest Food Sharing Point to you:</h3>

<form method="POST" action="foodavailable">
<div class="btn-group-vertical">
                                             {% for point,adress in supermarkets %}
                                                <button type="button" class="btn btn-outline-light" style="margin-bottom:30px;width: 400px;margin-right: 200px;margin-left: 680px">
      <a href = {{ url_for('foodavailable' ,point=point) }}><p class="card-text" ><h1>{{ point }}</h1> {{ adress }} </p></a>
  </button>
                                            {% endfor %}
</div>
</form>

{% endblock %}