{% if current_user.is_authenticated %}
    {% if current_user.volunteer %}
        {% if flag_access_as_volunteer %}
    {% extends "navbar_volunteer.html" %}
                    {% else %}
                {% extends "dashboard.html" %}
            {% endif %}
        {% else %}
    {% extends "dashboard.html" %}
                    {% endif %}
{% else %}
    {% extends "layout.html" %}
{% endif %}



{% block footer %}

<table class="table">






      <tr>
    <th>Order data</th>
          <th>Order pickup</th>
    <th>Point</th>

  </tr>

     {% for date,book,point in ordersz %}
        <tr>                  <td>{{ book }}</td>
        <td>{{ date }}</td>
                 <td>{{ point }}</td></tr>
            {% endfor %}

    </table>

{% endblock %}