{% if current_user.is_authenticated %}
    {% if current_user.volunteer %}
        {% if flag_access_as_volunteer %}
    {% extends "navbar_volunteer.html" %}
                    {% else %}
                {% extends "dashboard.html" %}
            {% endif %}
        {% else %}
    {% extends "dashboard.html" %}
                    {% endif %}
{% else %}
    {% extends "layout.html" %}
{% endif %}

{% block footer %}
                  <div class=" col-md-12">
                    <h2>Leave a <strong class="white">feedback!</strong></h2>
                  </div>


            <div class="container-fluid" >
                <div class="row" style="margin-left: 100px;margin-right: 100px;">
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
    <form method="post">
 {% if success %}

    {% with messages = get_flashed_messages() %}
                            <ul class=flashes>
                                {% for message in messages %}

                                        <div class="alert alert-success" role="alert">{{ message }}</div>
                            {% endfor %}
                            </ul>
                        {% endwith %}
    {% endif %}



              <div class="control-group form-group">
            <div class="controls">
      {{ form.name.label }}
      {{ form.name(size=100) }}
                    {% for message in form.name.errors %}
      <div class="flash">{{ message }}</div>
    {% endfor %}

            </div>
          </div>

                  <div class="control-group form-group">
            <div class="controls">
      {{ form.email.label }}
      {{ form.email(size=100) }}
                    {% for message in form.email.errors %}
      <div class="alert alert-danger" role="alert">{{ message }}</div>
    {% endfor %}
            </div>
          </div>

                          <div class="control-group form-group">
            <div class="controls">
      {{ form.subject.label }}
      {{ form.subject(size=100) }}
                    {% for message in form.subject.errors %}
      <div class="alert alert-danger" role="alert">{{ message }}</div>
    {% endfor %}
            </div>
          </div>


                          <div class="control-group form-group">
            <div class="controls">
            {{ form.message.label }}
      {{ form.message(cols="205", rows="10") }}
                    {% for message in form.message.errors %}
      <div class="alert alert-danger" role="alert">{{ message }}</div>
    {% endfor %}
            </div>
          </div>

            {{ form.submit(class='btn btn-primary') }}
            {{ form.hidden_tag() }}
    </form>
                          </div>
                      </div>

{% endblock %}