{% if current_user.is_authenticated %}
    {% if current_user.volunteer %}
        {% if flag_access_as_volunteer %}
    {% extends "navbar_volunteer.html" %}
                    {% else %}
                {% extends "dashboard.html" %}
            {% endif %}
        {% else %}
    {% extends "dashboard.html" %}
                    {% endif %}
{% else %}
    {% extends "layout.html" %}
{% endif %}

{% block footer %}

<form method="POST">
<table class="table">

            {% if success  %}
{% with messages = get_flashed_messages() %}
                            <ul class=flashes>
                                {% for message in messages %}
                                        <div class="alert alert-warning" role="alert">{{ message }}</div>

                                {% endfor %}
                            </ul>
                        {% endwith %}
                           {% else  %}
                {% with messages = get_flashed_messages() %}
                            <ul class=flashes>
                                {% for message in messages %}
                                        <div class="alert alert-success" role="alert">{{ message }}</div>

                                {% endfor %}
                            </ul>
                        {% endwith %}
    {% endif %}

      <tr>
    <th>First Name</th>
          <th>Last Name</th>
    <th>Email</th>
    <th>Bonus</th>
  </tr>
  <tr>
    <td>{{ form.first_name }}</td>
    <td> {{ form.last_name }}</td>
    <td>{{ form.email }}</td>
          <td>{{ form.bonus }} <label>   -200 p bonus = 1 supermarket vouchers
                         </label></td>

                {% for error in form.bonus.errors %}
                    <div class="alert alert-danger"> {{ error }} </div>
                {% endfor  %}

  </tr>

    </table>
   <div style="margin-top: 3rem;margin-bottom: 1rem;margin-left: 2rem;margin-right: 1rem">
            {{ form.submit(class='btn btn-primary') }}
   </div>
            {{ form.hidden_tag() }}
</form>



{% endblock %}