{% if current_user.is_authenticated %}
    {% if current_user.volunteer %}
        {% if flag_access_as_volunteer %}
    {% extends "navbar_volunteer.html" %}
                    {% else %}
                {% extends "dashboard.html" %}
            {% endif %}
        {% else %}
    {% extends "dashboard.html" %}
                    {% endif %}
{% else %}
    {% extends "layout.html" %}
{% endif %}

{% block footer %}
<div class="footer">
            <div class="container-fluid" >

                <div class="row" style="margin-left: 100px;margin-right: 100px;">
                  <div class=" col-md-12">
                    <h2>Become a <strong class="white">volunteer!</strong></h2>
                  </div>
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
    <form method="post" style="width: 400px">
 {% if succes %}

    {% with messages = get_flashed_messages() %}
                            <ul class=flashes>
                                {% for message in messages %}

                                        <div class="alert alert-success" role="alert">{{ message }}</div>
                            {% endfor %}
                            </ul>
                        {% endwith %}
    {% endif %}

    Choose a point near to you:

<div class="col-sm-3" style="width: 400px">

<select style="width: 400px"  class="form-control inputstl" id="expertise" name="Point" multiple>
        {%  for point in points %}
      <option style="width: 400px" value="{{ point }}">{{ point }}</option>
        {% endfor %}


</select>

</div>
            {{ form.submit(class='btn btn-primary') }}
            {{ form.hidden_tag() }}
    </form>
                        <p class="font-weight-light" >If there is no longer availability at the selected point to provide volunteering, we could propose another Food Sharing Point, thank you!
                         </p>
                    </div>
                      </div>
      </div>


{% endblock %}